* {
    margin: 0;
    padding: 0;
  }
.pcal-main{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .pcal-heading{
        h1{
            font-size: 2.5em;
            color:  #474747;
        }
    }
    .pcal-total-main{
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;

        .total-amnt{
            h2{
                font-size: 4em;
                color: #474747;
            }     
        }
        .save-adv-btn{
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            p{
                color: #474747;
                font-size: 0.8em;

            }
        }

          
    }
    .pcal-tables-main{
        display: flex;
        justify-content: space-between;
        padding-top: calc(20px + 3vh);
        height: 100%;
        width: 100%;

        .invoices-main, .cn-main, .dn-main{
            width: 31%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;

            h3{
                font-size: 1em;
                color: #474747;
                font-weight: bold;
            }
        }
    }
}