.orders-main{
    // background-color: aqua;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 10px 10px 10px;
    overflow: hidden;

    h1{
        font-size: 2.3em;
        color: #272727 !important;
    }

    p{
        margin-bottom: unset !important;
    }

    .filters{
        display: flex;
        gap: 20px;
    }

    .orders-sub{
        width: 100%;
        height: 70vh;
        // background-color: aquamarine;
        overflow-y: scroll;

        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 5px 10px 5px;
        margin-top: 10px;

        .order-box{
            width: 100%;
            height: fit-content;
            // background-color: rgba(65, 245, 185, 0.137);
            box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
            // border: 1px solid gray;
            border-radius: 5px;
            padding: 20px 10px 30px 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .order-dets-top{
                display: flex;
                justify-content: space-between;

                .order-dets-top-left{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    p{
                        font-size: 1em;
                    }

                    .order-date{
                        font-size: 0.7em;
                    }
                    .order-tot-qt{
                        font-size: 1.1em;
                        font-weight: bold;
                        color: #5e5e5e;
                    }

                    .order-status{
                        border-radius: 5px;
                        padding: 1px 5px 1px 5px;
                        font-size: 1em;
                        width: fit-content;
                    }
                    .order-status.pending{
                        background-color: rgba(239, 255, 96, 0.322);
                        color: rgb(83, 83, 0);
                        border: 1px solid rgb(145, 145, 0);
                    }
                    .order-status.confirmed{
                        background-color: rgba(83, 255, 83, 0.308);
                        color: rgb(0, 151, 0);
                        border: 1px solid rgb(0, 151, 0);
                    }
                }

                .order-dets-top-right{
                    display: flex;
                    gap: 10px;
                    color: gray;

                    a{
                        text-decoration: none;
                        color: gray;
                        cursor: pointer;
                    }
                }
            }

            .order-dets-bottom{
                width: 100%;
                height: fit-content;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 20px;

                .order-products{
                    // width: 26%;
                    width: fit-content;
                    // min-width: 20em;
                    min-width: calc(83vw / 5);
                    display: flex;
                    // justify-content: space-between;
                    gap: 10px;
                    // border: 1px solid #80808070;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    border-radius: 5px;
                    padding: 10px 10px 10px 10px;

                    // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

                    .order-products-left{
                        display: flex;
                        flex-direction: column;
                        // width: 25%;
                        border-radius: 10%;
                        overflow: hidden;

                        img{
                            width: 4.2em;
                            height: auto;
                        }


                    }
                    .order-products-right{
                        height: 100%;
                        // width: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        p.product-name{
                            font-size: 1em;
                            font-weight: bold;
                            color: #5e5e5e;
                        }
                        p.product-price{
                            font-size: 0.7em;
                        }
                        p.product-code{
                            font-size: 0.7em;
                        }

                        p.order-total{
                            font-size: 1em;
                            font-weight: bold;
                            color: #5e5e5e;
                            margin-top: 5px;

                        }
                    }

                }

            }
        }

    }
}